In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('ce_2019.csv')

In [30]:
df

                name  rollno       phoneno                          email
0     Aayam Adhikari       1  9.866614e+09           thisisleo7@gmail.com
1   Nirbhay Adhikari       2  9.845957e+09            fearalert@gmail.com
2    Saugat Adhikari       4  9.845965e+09    saugatadhikari.sa@gmail.com
3   Sushant Adhikari       5  9.815168e+09  sushantadhikari2001@gmail.com
4        Avash Aryal       6  9.840424e+09          avash8aryal@gmail.com
..               ...     ...           ...                            ...
56     Sabal Katuwal      59           NaN       sabal.katuwal1@gmail.com
57       Bibek Dahal      60  9.864997e+09        bibekdahal479@gmail.com
58     Saugat Poudel      61           NaN     saugat.poudel478@gmail.com
59    Ranish Panthee      62           NaN            ranish023@gmail.com
60      Sundar Gelal      63           NaN        gelalsundar77@gmail.com

[61 rows x 4 columns]

In [31]:
df['info'] = df[df.columns[1:]].apply(
    lambda x: ','.join(x.astype(str)),
    axis=1
)
df

,name,rollno,phoneno,email,info
0,Aayam Adhikari,1,9.866614e+09,thisisleo7@gmail.com,"1,9866614278.0,thisisleo7@gmail.com"
1,Nirbhay Adhikari,2,9.845957e+09,fearalert@gmail.com,"2,9845956777.0,fearalert@gmail.com"
2,Saugat Adhikari,4,9.845965e+09,saugatadhikari.sa@gmail.com,"4,9845965166.0,saugatadhikari.sa@gmail.com"
3,Sushant Adhikari,5,9.815168e+09,sushantadhikari2001@gmail.com,"5,9815167761.0,sushantadhikari2001@gmail.com"
4,Avash Aryal,6,9.840424e+09,avash8aryal@gmail.com,"6,9840424018.0,avash8aryal@gmail.com"
...,...,...,...,...,...
56,Sabal Katuwal,59,NaN,sabal.katuwal1@gmail.com,"59,sabal.katuwal1@gmail.com"
57,Bibek Dahal,60,9.864997e+09,bibekdahal479@gmail.com,"60,9864996631.0,bibekdahal479@gmail.com"
58,Saugat Poudel,61,NaN,saugat.poudel478@gmail.com,"61,saugat.poudel478@gmail.com"
59,Ranish Panthee,62,NaN,ranish023@gmail.com,"62,ranish023@gmail.com"
60,Sundar Gelal,63,NaN,gelalsundar77@gmail.com,"63,gelalsundar77@gmail.com"

In [32]:
df['info']

0              1,9866614278.0,thisisleo7@gmail.com
1               2,9845956777.0,fearalert@gmail.com
2       4,9845965166.0,saugatadhikari.sa@gmail.com
3     5,9815167761.0,sushantadhikari2001@gmail.com
4             6,9840424018.0,avash8aryal@gmail.com
                          ...
56                     59,sabal.katuwal1@gmail.com
57         60,9864996631.0,bibekdahal479@gmail.com
58                   61,saugat.poudel478@gmail.com
59                          62,ranish023@gmail.com
60                      63,gelalsundar77@gmail.com
Name: info, Length: 61, dtype: object

In [24]:
df['name'].head()

KeyError: 'name'